body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000000;
}

.heder {
    height: 35px;
}

.code-preview-heder {
    position: absolute;
    top: 8px;
    left: 41%;
    background: #ffffff;
    border-radius: 15px;
}

.code-heder {
    background: #ffffff;
    border-radius: 15px;
    width: 65px;
    height: 30px;
    border: none;
}

.preview-heder {
    background: #ffffff;
    border-radius: 15px;
    width: 65px;
    height: 30px;
    border: none;
}

.code-heder:hover,
.preview-heder:hover {
    background: #878787;
}

.container {
    display: flex;
    height: 95vh;
    flex-direction: row-reverse;
    /* برای rtl: چت راست، کد چپ */
}

.chat-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;
    margin-top: 10px;
}

.message {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #f8f8f8;
    min-height: 100px;
}


.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    gap: 10px;
    margin: 0 10px;
    border-radius: 10px 10px 0 0;
    background: #f8f8f8;

}

.input-area textarea {
    flex: 1;
    resize: none;
    height: 100px;
    background: #00000000;
    border: none;
}

.send-message {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.model-select {
    height: 25px;
    width: 140px;
    border-radius: 6px;
}

.input-model {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    gap: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    background: #f8f8f8;
}

.code-section {
    margin: 10px;
    width: 60%;
    display: flex;
    /* height: 100vh; */
    flex-direction: row-reverse;
}

.code-tabs {
    display: flex;
    background: #f0f0f0;
}

.code-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
}

.code-tabs button.active {
    background: #fff;
    border-bottom: 2px solid #007bff;
}

.files-display {
    width: 30%;
    overflow-y: auto;
    background: #c5c3c3;
    border-radius: 10px 0 0 10px;
    text-align: left;
}

.file-name {
    padding: 5px 10px;
}

.file-name:hover {
    background: #f8f8f8;
}


.code-display {
    width: 70%;
    overflow-y: auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 0 10px 10px 0;
}

pre {
    white-space: pre-wrap;
}