.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.top-div {
    display: grid;
    gap: 20px;
    padding: 0px 60px;
}

.show-message {
    max-height: 220px;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.write-text {
    display: flex;
    gap: 20px;
    padding: 5px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.send-message {}

.write-message {
    width: -webkit-fill-available;
    resize: none;
}

.bottom-div {
    display: flex;
    gap: 20px;
}

.show-web {
    width: 100%;
    height: 500px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.show-code {
    height: 500px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.show-code-button {
    display: flex;
    width: 100%;
}

.button-html,
.button-css,
.button-java-script {
    width: 100%;
}


.reload-show-web {
    position: relative;
    top: 15px;
    right: 20px;
}

.enlarge-show-web {
    position: relative;
    top: 15px;
    right: 30px;
}