.container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.top-div {
    display: grid;
    gap: 20px;
}

.show-message {
    max-height: 220px;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.write-text {}

.send-message {}

.write-message {}

.bottom-div {
    display: flex;
    gap: 20px;
}

.show-web {
    width: 100%;
    height: 500px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}

.show-code {
    width: 70%;
    height: 500px;
    border: 1px solid #000000;
    background: #f5f5f7;
    border-radius: 5px;
}