body {
    font-family: 'Vazir', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
}

main {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #2196F3; /* رنگ جدید برای دکمه */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #1976D2; /* رنگ جدید برای حالت هاور */
    transform: scale(1.05); /* بزرگتر شدن دکمه در حالت هاور */
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
